[*.cs]

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
dotnet_diagnostic.RCS1090.severity = none
